<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalaram Bandhani House</title>

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">

    {% block css %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'Basic.css' %}">
    {% endblock css %}

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <b><a class="navbar-brand title" href="#">JALARAM BANDHANI HOUSE</a></b>

            <!-- Navbar Toggler -->
            <button class="navbar-toggler toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar buttons if user is logged in-->
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse nav-div-shop-auth" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/tracker">Order Tracker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/shop">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/logged-out">Logout</a>
                    </li>
                </ul>
            </div>

            <!-- Navbar buttons if user is not logged in-->
            {% else %}
            <div class="collapse navbar-collapse nav-div-shop-unauth" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/shop">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <form method="get" action="search" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 search" type="search" placeholder="Search"
                                aria-label="Search" id="search" name="search">
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

</head>
{% block body %}{% endblock body %}

{% block js %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for message in messages %}
    swal('{{message}}');
    {% endfor %}
</script>
{% endblock js %}