{% extends 'Basic.html' %}

{% block css %}
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static 'OTP_Verification.css' %}">
<link rel="stylesheet" href="{% static 'Basic.css' %}">
{% endblock css %}

{% block body %}
    <div>
        <h1>OTP Verification</h1>
    </div>
    <div class="note">
        <h3>Check out your Email and Enter the OTP sent by us Here !</h3>
    </div>
    <div class="div_inputs">
        <form action="/verifying" method="post">
            {% csrf_token %}
            <input type="text" id='first' class="Box" maxlength="1" name="txt1">
            <input type="text" id="second" class="Box" maxlength="1" name="txt2">
            <input type="text" id="third" class="Box" maxlength="1" name="txt3">
            <input type="text" id="fourth" class="Box" maxlength="1" name="txt4">
            <input type="text" id="fifth" class="Box" maxlength="1" name="txt5">
            <div class="submit_div">
                <input type="submit" class="submit_btn" value="Submit">
            </div>
        </form>
    </div>
    <div class="not_received_div">
        <h6 class="not_receive">Didn't Receive OTP ?</h6>
        <a href="/getotp" class="resend">Resend</a>
    </div>
    {% endblock body %}

    {% block js %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.Box').on("keyup", function (e) {
            var $input = $(this);
            if ($input.val().length == 0 && e.which == 8) {
                $input.toggleClass("productkey2 productkey1").prev('.Box').focus();
            }
            else if ($input.val().length >= parseInt($input.attr("maxlength"), 10)) {
                $input.toggleClass("productkey1 productkey2").next('.Box').focus();
            }
        });
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% for message in messages %}
            swal('{{message}}');
        {% endfor %}
    </script>
{% endblock js %}
